.content
  .container-flex
    .row
      .col-md-12
        %h3= t 'butler.views.new.title', resource: @<%= singular_table_name %>.model_name.human.titleize
        %hr

    .row
      .col-md-12
        = render 'form'
