- model_class = <%= class_name %>

.page-content-header
  .container-flex
    %h3= t '.title', default: t('helpers.links.new'), model: model_class.model_name.human.titleize

.content
  .container-flex
    .row
      .col-md-12
        = render 'form'
