.admin-page-container {

  .admin-page-content .content  {
    padding: 20px 0;
  }

  .page-content-header {
    background: #f9f9f9;
    left: auto;
    margin: auto;
    position: relative;
    top: auto;
    width: auto;
    @include box-shadow(0 1px 3px rgba(#000, .25));
  }

  .container-flex {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 40px;
  }
}
