.menu {
  background: #46494e;
}

.menu-inner {


  ul {
    list-style: none;
    margin: 0;
    padding: 0;

     li {
      position: relative;
     }
  }
  > ul > li  {

    display: inline-block;

    &.brand {
      font-size: 18px;
      margin-left: -14px;
      margin-right: 12px;


      a:hover {
        background: none;
        color: #fff;
      }

      .echo { color: $brand-primary; }

      .live { color: $brand-danger; }
    }


    & > a {
      display: block;
      color: #fff;
      line-height: 26px;
      text-decoration: none;
      margin: 11px 2px;
      padding: 0 12px;
      @include border-radius(4px);

      .caret {
        margin-left: 6px;
      }

      &:hover, &.active, &:focus {
        background: #737880;
        color: #fff;
        text-shadow: 0 1px 0 #333;

      }

      &.active {
        font-weight: normal;
      }
    }

  }

  .user-profile {
    height: auto;
    padding: 0 14px;

    &:hover {
      background: #111;
    }

    .persona {
      line-height: 18px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 32px;



      img {
      vertical-align: top;
      position: relative;
      top: 2px;
      }

      strong {
        font-size: 14px;
      }

    }

    .name * {
      color: #fff;
    }

    .persona .caret {
      border-top-color: #fff;
      margin-top: -2px;
    }
  }
}
